<header x-data="{ navDrawerOpen: false, searchBarOpen: false }" class="rs-navbar">
  <nav class="rs-navbar__container">
    <div>
      <a class="nav__logo" href="{{ shop.url }}">{{ shop.name }}</a>
    </div>
    {% comment %} menu button {% endcomment %}
    <div class="nav__menu__btn__container">
      <button @click="navDrawerOpen = ! navDrawerOpen" class="nav__menu__btn">
        {% render 'icon-menu' %}
      </button>
    </div>

    <div class="nav__links__container">
      {% for link in linklists['main-menu'].links %}
        {% if link.links != blank %}
          <div x-data="{ openDDLink: false }" class="nav__parent__links">
            <button x-on:click="openDDLink = !openDDLink" class="nav__dropdown__link_btn">
              {{ link.title }}
              <span class="nav__down__arrow">{% render 'icons-arrow-down' %}</span>
            </button>
            <div x-show="openDDLink" @click.away="openDDLink = false" class="nav__dropdown__links">
              {% for childlink in link.links %}
                <a class="nav__actions__btn nav__dropdown__link__item" href="{{ childlink.url }}">
                  {{- childlink.title -}}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a class="nav__links" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="nav__actions">
      <button type="button" x-on:click="searchBarOpen = true">
        {% render 'icon-search' %}
      </button>
      <a href="{{ routes.cart_url }}" class="nav__actions__btn">{% render 'icon-shopping-bag' %}</a>
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a href="{{ routes.account_url }}" class="nav__actions__btn">Account</a>
          {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="nav__actions__btn"' }}
        {% else %}
          {{ 'Log in' | customer_login_link | replace: '<a', '<a class="nav__actions__btn"' }}
          {{ 'Register' | customer_register_link | replace: '<a', '<a class="nav__actions__btn"' }}
        {% endif %}
      {% endif %}
    </div>
  </nav>
  {% comment %} ✨ Mobile Menu ✨ {% endcomment %}
  <div x-show="navDrawerOpen" @click.away="navDrawerOpen = false" class="rs-navbar__mobile-menu">
    <button @click="navDrawerOpen = false" class="nav__menu__btn">
      {% render 'icon-close' %}
    </button>
    <div class="nav__mobile__links__container">
      {% for link in linklists['main-menu'].links %}
        {% if link.links != blank %}
          <div x-data="{ openDDLink: false }" class="nav__parent__links">
            <button x-on:click="openDDLink = !openDDLink" class="nav__dropdown__link_btn">
              {{ link.title }}
              <span class="nav__down__arrow">{% render 'icons-arrow-down' %}</span>
            </button>
            <div x-show="openDDLink" @click.away="openDDLink = false" class="nav__dropdown__links">
              {% for childlink in link.links %}
                <a class="nav__actions__btn nav__dropdown__link__item" href="{{ childlink.url }}">
                  {{- childlink.title -}}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div>
            <a class="nav__links" href="{{ link.url }}">{{ link.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div x-show="searchBarOpen" class="rs__global__search">
    <button type="button" class="nav__menu__btn" x-on:click="searchBarOpen = false">
      {% render 'icon-close' %}
    </button>
    <div class="rs__global__search__content">
      <form action="{{ routes.search_url }}" method="get">
        <div>
          <input type="search" name="q" id="" placeholder="Search">
          <button type="submit">{% render 'icon-search' %} Search</button>
        </div>
      </form>
    </div>
  </div>
</header>
