{% comment %}
  <h1>{{ section.settings.title }}</h1> title is the id we set to schema
  <p>{{ section.settings.subtext_title }}</p>
{% endcomment %}
<div class="template-404__container">
  <div class="template-404__title">
    {{ section.settings.title }}
  </div>
  <div>
    <p class="template-404__subtitle">{{ section.settings.subtext_title }}</p>
  </div>
  <div>
    <a class="template-404__cta" href="{{ shop.secure_url }}">Hit me</a>
  </div>
</div>

{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "template-404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 Heading Title"
    },
    {
      "type": "text",
      "id": "subtext_title",
      "default": "Page not found",
      "label": "404 Subtext title"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Back to Shop",
      "label": "404 cta label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "404 cta url"
    }
  ]
}
{% endschema %}
