<article
  class="article"
  itemscope
  itemtype="https://schema.org/BlogPosting"
>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="article__title">
          <a href="{{ blog.url }}" class="article__blog-link">{{ blog.title }}</a>
          <h1 class="article__headline" itemprop="headline">{{ article.title }}</h1>
        </div>

      {% when 'article_author' %}
        {% if section.settings.show_author %}
          <div class="article__author" itemscope itemtype="https://schema.org/Person">
            <p>
              By <span itemprop="author">{{ article.author }}</span>
            </p>
          </div>
        {% endif %}

      {% when 'article_published_date' %}
        {% if section.settings.show_published_date %}
          <p class="article__published-at">
            Published on
            <time
              class="article__date"
              itemprop="datePublished dateCreated"
              datetime="{{ article.published_at | date: '%y-%m-%d' }}"
            >
              {{- article.published_at | date: '%y-%m-%d' -}}
            </time>
          </p>
        {% endif %}

      {% when 'featured_image' %}
        <div class="article__featured-image" itemprop="image">
          {% if article.image != blank %}
            <img
              class="article__image"
              src="{{ article.image | image_url: width: article.image.width, height: article.image.height }}"
              alt="{{ article.image.alt | escape }}"
              loading="lazy"
              width="500"
              height="200"
            >
          {% else %}
            {% assign placeholder_image = 'lifestyle-2' %}
            {{ placeholder_image | placeholder_svg_tag: 'article__image article__image--placeholder' }}
          {% endif %}
        </div>

      {% when 'article_content' %}
        <div class="article__content" itemprop="articleBody">{{ article.content }}</div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div class="article__comments" id="article__comments">
    {% if article.comments_count > 0 %}
      <div class="article__comments-list">
        <h1 class="article__comments-title">See what people are saying</h1>

        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="article__comment">
              <span class="article__comment-author">{{ comment.author }}</span>
              <p class="article__comment-meta">
                Created at
                <span class="article__comment-date">
                  {{ comment.created_at | date: format: 'date' }}
                </span>
              </p>
              <p class="article__comment-body">{{ comment.content }}</p>
            </div>
          {% endfor %}
          <div class="article__pagination">
            {% render 'pagination', pagination: paginate %}
          </div>
        {% endpaginate %}
      </div>
    {% else %}
      <p class="article__no-comments">There are no comments yet.</p>
    {% endif %}
  </div>

  <div class="article__comment-form">
    {% form 'new_comment', article %}
      <div class="article__comment-fields">
        {% if form.errors %}
          <div class="article__comment-error">
            <p>Oh no! Your comment was not posted</p>
            <ul>
              {% for error in form.errors %}
                <li>
                  <span>{{ form.errors.messages[error] }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% elsif form.posted_successfully? %}
          <p class="article__comment-success">Comment is posted successfully</p>
        {% endif %}

        <div class="article__comment-field">
          <label for="comment_author">Name</label>
          <input
            type="text"
            name="comment[author]"
            id="comment_author"
            class="article__input"
            required
          >
        </div>

        <div class="article__comment-field">
          <label for="comment_email">Email</label>
          <input
            type="email"
            name="comment[email]"
            id="comment_email"
            class="article__input"
            required
          >
        </div>

        <div class="article__comment-field">
          <label for="comment_content">Description</label>
          <textarea
            name="comment[body]"
            id="comment_content"
            class="article__textarea"
            required
          ></textarea>
        </div>

        <div class="article__comment-submit">
          <input type="submit" value="Post Comment" class="article__submit-btn">
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

{% comment %} SEO JSON Structured Schema {% endcomment %}
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": {{ article.title | json }},
      "articleBody": {{ article.content |  strip_html | json }},
       {% if article.excerpt !=blank %}
          "description": {{ article.excerpt |  strip_html | json }},
      {% endif %}
      {% if article.image %}
          "image": [
              {{ article.image |  image_url: "medium" | prepend: 'https:' | json }}
          ],
      {% endif %}
      "datePublished": {{ article.published_at |  date: format: "default" | json }},
      "dateCreated": {{ article.created_at |  date: format: "default" | json }},
      "author": {
          "@type": "Person",
          "name": {{ article.author | json }}
      },
      "publisher": {
          "@type": "Organization",
          "name": {{ shop.name | json }}
      },
  }
</script>

{% schema %}
{
  "name": "Template Articles",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "Show Author"
    },
    {
      "type": "checkbox",
      "id": "show_published_date",
      "default": true,
      "label": "Show Published Date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Article Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Article Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Article Content",
      "limit": 1
    }
  ]
}
{% endschema %}
